/* Custom Properties */
:root {
  --blue: #007af3;
  --blue-shade: #006bd6;
  --black: #20272e;
}

/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/Poppins-Bold.ttf");
}

/* Global Styling */
* {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Content */
body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background-color: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-family: "Poppins-Bold";
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--blue);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobie-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-family: "Poppins-Bold";
  color: grey;
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.left-col .primary-cta {
  color: white;
  font-size: 1.4em;
  font-family: "Poppins-Bold";
  border-radius: 5em;
  padding: 0.6em 1.3em;
  display: inline-block;
  text-decoration: none;
  background-color: var(--blue);
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: 0.5em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

.features {
  background-color: var(--black);
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../assets/bullet.svg");
  background-size: contain;
  margin-right: 3em;
  left: -2em;
}

.features img {
  display: none;
}

.testimonials {
  background-color: var(--blue);
}

.testimonials li {
  width: 80%;
  color: white;
  padding: 2em 1em;
  text-align: center;
  border-radius: 1em;
  margin: 0 auto 5em auto;
  background: var(--blue-shade);
}

.testimonials li img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-top: -4.5em;
  border: 5px solid var(--blue-shade);
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  border: 1px solid grey;
}

input[type="submit"] {
  background-color: var(--blue);
  color: white;
  font-family: "Poppins-Bold";
  font-style: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.8em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

/* Navigation Styling */
nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--black);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--blue);
    border: 3px solid var(--blue);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background-color: var(--blue);
    color: white;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features {
    position: relative;
  }
  .features img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials ul li {
    margin: 0 1em;
  }
  .contact {
    position: relative;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .contact .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .features:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background-color: var(--blue);
    left: 0;
    top: -4em;
  }
  .features:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background: url("../assets/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}
/*# sourceMappingURL=main.css.map */